body {
    margin: 0;
    padding: 0;
    background: #2d5566;
    background: linear-gradient(180deg,rgba(45, 85, 102, 1) 0%, rgba(0, 140, 255, 1) 50%, rgba(10, 201, 240, 1) 100%);
}

main {
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: space-around;
    align-content: center;
}

#stars{
    width: 100dvw;
    height: 50dvh;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    pointer-events: none;
}

@keyframes StarAnimation {
    0% {
        scale: 1;
        opacity: 0.7;
    }
    100% {
        scale: 1.5;
        opacity: 1;
    }
}

.star {
  width: 20px;
  height: 20px;
  background: white;
  display: none;
  clip-path: polygon(32% 37%, 48% 3%, 67% 37%, 100% 51%, 69% 65%, 50% 100%, 32% 64%, 0 50%);
  animation-name: StarAnimation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: -1;
}

.game {
    height: 150px;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    border: solid 2px black;
}